.pop-up {
  position: absolute;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 70%;
  max-width: 580px;
  max-height: 702px;
  color: #505050;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.59);
  z-index: 10;

  &-title {
    letter-spacing: 0.25em;
    font-size: 3em;
    color: #611818;
  }

  &-hr {
    height: 2px;
    width: 70%;
    background: linear-gradient(90deg, rgba(97, 24, 24, 1) 0%, rgb(255, 255, 255) 100%);
  }

  &-paragraph {
    font-size: 14px;
    line-height: 1.5em;
  }

  &-close {
    align-items: flex-start;
    justify-content: flex-start;
    top: -5%;
    color: #611818;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  &-btn {
    width: 60%;
    background: linear-gradient(90deg, rgba(97, 24, 24, 1) 0%, rgba(163, 103, 84, 1) 100%);
    letter-spacing: 0.08em;
  }
}